.header-menu {
    background-color: rgba(255, 255, 255, 0.24);
    backdrop-filter: blur(3px);
    margin-top: 30px;
    padding: 24px 135px;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 1000;
    width: 100%;
    box-sizing: border-box;
}

.fixed-header {
    margin-top: 0;
    transition-duration: .5s;
    background-color: #dae3e7c3;
}

.logo {
    flex: 1;
}

.navigation-menu__list {
    display: flex;
    gap: 30px;
    list-style-type: none;


    .link:hover {
        text-decoration: underline;
        text-decoration-style: solid;
        text-decoration-color: rgba(241, 137, 123, 0.3);
        text-decoration-thickness: 3px;
        text-underline-offset: 6px;
    }
}

.link {
    text-decoration: none;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.08em;
    color: #262A3F;
}

#nav-icon {
    display: none;
    width: 50px;
    height: 45px;
    position: relative;
    transition-duration: 1s;
    cursor: pointer;
}

#nav-icon span {
    height: 6px;
    width: 50px;
    background-color: #fff;
    border-radius: 20px;
    position: absolute;
    transition-duration: .25s;
    top: 17px;
}

#nav-icon span:before {
    left: 0;
    position: absolute;
    top: -17px;
    height: 6px;
    width: 50px;
    background-color: #fff;
    content: "";
    border-radius: 20px;
    transition-duration: .25s;
}

#nav-icon span:after {
    left: 0;
    position: absolute;
    top: 17px;
    height: 6px;
    width: 50px;
    background-color: #fff;
    content: "";
    border-radius: 20px;
    transition-duration: .25s;
}

#nav-icon.open {
    transform: rotateZ(450deg);
}

@media screen and (max-width: 1024px) {
    .header-menu {
        padding: 24px 50px;
    } 
}

@media screen and (max-width: 768px) {
    .header-menu {
        padding: 24px 24px;
    }

    #nav-icon {
        display: flex;
    }

    .navigation-menu {
        display: none;
    }

    .navigation-menu {
        &.open {
            display: block;
    
            .navigation-menu__list {
                flex-direction: column;
                background: linear-gradient(-15deg, rgb(255, 255, 255), #dae3e7);
                position: absolute;
                right: 0;
                left: 0;
                top: -30px;
                padding: 0;
                align-items: center;
                gap: 0;

                li {
                    width: 100%;

                    .link {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 48px;
                        white-space: nowrap;
                        padding: 0 20px;
                    }
                }
            }
        }
    } 
}
